
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
  }
  
  .calendar-container {
    height: 500px;
    overflow-y: scroll;
    margin: 0px;
  }

  .time-block {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
  }
  
  .time {
    height: 30px;
    text-align: right;
    color: #686868;
    font-size: 12px;
  }

  .event {
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: #d6d6d6;
    border-left-color: #496fa4;
    background-color: #e7f6ff;
    box-sizing: border-box;
  }

  .event-1h {
    height: 60px;
  }
  
  .event-2h {
    height: 120px;
  }

  .event-3h {
    height: 180px;
  }
  
  .event-4h {
    height: 240px;
  }

  .event-5h {
    height: 300px;
  }
  
  .event-6h {
    height: 360px;
  }

  .event-7h {
    height: 420px;
  }
  
  .event-8h {
    height: 480px;
  }
  
  .timeMarker {
    border-bottom: 2px solid #ff0d0d;
    position: relative;
    top: var(--topTimeMarker,  0%);
  }


  .event-title {
    color: #496fa4;
    font-size: 11px;
    padding-top: 8px;
    padding-left: 8px;
  }
  
  .event-location {
    color: #797979;
    font-size: 9px;
    padding-top: 8px;
    padding-left: 8px;
  }
  
  
  small {
    font-size: 9px;
    color: #A7A7A7;
  }
  
  .clear {
    clear: left;
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  
  .border-blue {
    width: 4px;
    background-color: #496fa4;
  }

  .actual-time-line {
    padding-top: 10px;
    height: 2px;
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    border-color: #b40000;
  }

  .hour-row {
    min-height: 60px;
  }

  .border-buttom {
    border-bottom: 1px solid #c2c2c2;
  }
  